body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#n1S{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#n2S{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#calculaSubButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}



#n1{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#n2{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#n3{
    display: flex;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#calculamultnumButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}







#n1D{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#n2D{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#calculaDivButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}





#nt1{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#nt2{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#calculaMPButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}







#preco{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

#calculaProdButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}





#salario{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#vendas{
    display: flex;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;

}
#salarioButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}




#p{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#calculaPesoButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}



#kg{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#calculaKgButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}





#aT{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#BaT{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#bT{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#calculaTButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}





#l{
    display: flex;
    margin-bottom: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/

    background: var(--surface-color);/* 10% de transparencia */
    border: 1px solid var(--stroke-color);/* 50% de transparencia */     /**/
    border-radius: 8px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}
#calculaQButtom{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center; /*alinhamento na vertical */
    justify-content: center; /*alinhamento na horiz */
    padding: 16px 80px; /* 16px é top e bottom e 24px é right e left*/
    border-radius: 30px;
    backdrop-filter: blur(4px); /*nem todo navegador aceita blur*/
}